<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
  
          <div class="col-lg-4 col-md-3 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a (click)="pageTitle('Malavika Website') "  href="#/home">Home</a></li>
              <li><a  (click)="pageTitle('About Malavika') "  href="#/about" >About</a></li>
              <li><a (click)="pageTitle('Malavika Movies')"  href="/#/movies">Movies</a></li>
              <li><a (click)="pageTitle('Malavika Team')"  href="/#/team">Team</a></li>
              <li><a (click)="pageTitle('Contact Malavika')"  href="/#/contact">Contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-3 footer-links">
            <h4>Career</h4>
            <ul>
              <li><a routerLink="/readmore">Education</a></li>
              <li><a routerLink="/readmore">Awards</a></li>
              <li><a routerLink="/">Early Life</a></li>
              <li><a (click)="pageTitle('Malavika Career')" href="/#/career">Film Career</a></li>
              <li><a (click)="pageTitle('Gallery')" href="#/Gallery">Gallery</a></li>
             
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-3 footer-contact">
            <h4>Contact Us</h4>
        
            <div style="color: #c3cc35;">
              <strong>Helpline No : </strong> <b> +91 0000000000</b><br>
                <strong>Contact No : </strong><b> +91  9001000000</b> <br>
                <strong>Write to us at : </strong><a style="font-weight: bolder;">infomalavikamohanan@gmail.com</a><br>
           
            </div>
          </div>
  
          
  
        </div>
        <div class="social-links text-center" >
          <a href="https://twitter.com/MalavikaM_?" class="twitter"><i class="fa fa-twitter" title="twitter"></i></a>
          <a href="https://www.facebook.com/mohananmalavika" class="facebook"><i class="fa fa-facebook" title="facebook"></i></a>
          <a href="https://www.instagram.com/malavikamohanan_" class="instagram"><i class="fa fa-instagram" title="instagram"></i></a>
          <a href="https://www.google.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="https://www.imdb.com/name/nm6017002/" class="google-plus"><i class="fa fa-imdb" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="copyright m-3">
        &copy;Copyright<strong> Malavika mohanan</strong> 2021. All Right Reserved
      </div>
      <div class="credits">
        Designed and Maintained by <a href="" style="color: #c3cc35;">Team Cluster</a>
      </div>
    </div>
  </footer>
  