<div class="" style="background-color: #f8f1f1;">
  <div class="image-aboutus-banner img-fluid responsive">
    <img src="assets/aboutmain1.webp" alt="about-malu" class="responsive res">
    <div class="bread-bar">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-8">
          <ol class="breadcrumb pl-2">
            <li><a href="/home">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div> 
      </div>
    </div>
          <h1 class="lg-text">Malavika Mohanan</h1>
          <p class="image-aboutus-para">Film Actress</p>
  </div>
  <div class="aboutus-secktion paddingTB60">
    <div class="container">
      <div class="row">
        <div class="col-md-6 image-aboutus-img">
        </div>
        <div class="col-md-6">
          <p>Malavika Mohanan is an Indian film actress, who has worked in the Malayalam and Tamil language films. She
            has also appeared in Hindi and Kannada language films.
            The daughter of cinematographer K. U. Mohanan, Malavika made her acting debut with the romantic drama Pattam
            Pole opposite Dulquer Salmaan.</p>
          <p>Mohanan completed a degree in Mass Media at Wilson College, Mumbai, hoping to emulate her
            father as a cinematographer or as a director. Post her graduation, while she was contemplating taking up
            higher studies, she accompanied her father to a commercial shoot for a fairness cream, starring veteran
            Malayalam actor Mammootty.
            The actor subsequently enquired about Mohanan's interest in acting, before offering her a role opposite his
            son, Dulquer Salmaan, in an upcoming Malayalam film.Malavika Mohanan took time to consider the proposal
            before passing an audition and accepting terms to star in Pattam Pole (2013), and gradually learned about
            the process of acting as the shoot progressed.
            Owing to the original costume designer's illness, Mohanan also worked as her own designer for the project.
            The romantic drama film, which narrated the relationship between a Tamil Brahmin youth and a Christian girl,
            received mixed reviews and did not perform well at the box office. A critic from Rediff.com noted that
            Mohanan's "peppy girl act is far from being perfect but shows promise",
            while the Times of India's reviewers suggested that she did a "decent job". During the period, she continued
            having an interest in fashion, setting up an Indian ethnic fusion clothing brand called "The Scarlet
            Window".
            Her second film, Nirnayakam (2015), Mohanan portrayed as a ballet dancer, won good reviews but also met with
            a tepid response commercially. Another film during the period, Naale opposite Fahadh Faasil, saw her portray
            a tribal girl but was later dropped midway through production. In 2016, Malavika worked on her first Kannada
            film, Naanu Mattu Varalakshmi (2016) opposite a debutant actor, Prithvi.Despite having a low-key release at
            the box office, the film won good reviews with Mohanan's portrayal of the titular role of Varalakshmi being
            praised by critics.She then featured in the role of a police officer in the crime thriller The Great Father
            (2017), where she starred alongside an ensemble cast including Mammootty, Arya and Sneha.The film opened to
            positive reviews and performed well at the box office.</p>
        </div>
      </div>
    </div>
  </div>
</div>
