h4 {
  color: #cc2026;
}

.cta-padding35 {
  padding: 35px 0 35px;
  background-color: #b40028;
  color: #fff;
}
 
.site-btn {
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid #b40028;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #b40028;
  background-color: transparent;
  transition: all .25s ease-in-out;
  margin: 10px 0px 10px 0px;

}

.site-btn:hover {
  background: #b40028;
  border: 1px solid #fff;
  font-weight: 700px;

}

.paddingTB60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.responsive{
  width: 100%;
  height: auto;
  opacity: 0.7;
  background: linear-gradient(rgba(179, 160, 160, 0.7), rgba(107, 105, 105, 0.7));
}

  
 
// .image-aboutus-banner {
//   background: linear-gradient(rgba(158, 154, 154, 0.7), rgba(140, 133, 133, 0.7)), url("/assets/abt.webp");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   color: #fff;
//   padding-top: 130px;
//   padding-bottom: 130px;
// }

// .image-aboutus-sm-banner {
//   background: linear-gradient(rgba(179, 160, 160, 0.7), rgba(107, 105, 105, 0.7)), url("/assets/abt.webp");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   color: #fff;
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

.lg-text {
  position: absolute;
  width: auto;
  height: auto;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 600;
  color: #fff;
}

.image-aboutus-banner p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  // color: #000;
  color: #fff;
}

body {
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-style: normal;
  color: #494949;
  font-size: 16px;
}

a:hover {
  color: #465cff;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #000;
}

h3 {
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  color: #000;
}

h4 {
  font-size: 19px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  color: #000;
}

p {
  font-weight: 400;
  font-style: normal;
  color: #494949;
  text-align: justify;
}

a {
  color: #494949;
}

.capital {
  text-transform: uppercase;
}

.image-aboutus-img {
  background: url("/assets/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: auto;
}

.bread-bar {
  position: absolute;
  top: 120px;
  left: 80px;
  width: 200px;
}
@media screen and(max-width:1200px){
  .lg-text {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 52px;
    font-weight: 600;
    color: #fff;
  }
  
  .image-aboutus-banner p {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    // color: #000;
    color: #fff;
  }
}

@media screen and(max-width:1000px){
  .lg-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 600;
    color: #fff;
  }
  
  .image-aboutus-banner p {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    // color: #000;
    color: #fff;
  }
}

@media screen and(max-width:860px){
  .lg-text {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 600;
    color: #fff;
  }
  
  .image-aboutus-banner p {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    // color: #000;
    color: #fff;
  }
}

@media screen and(max-width:793px){
  .lg-text {
    display: none;
  }
  
  .image-aboutus-banner p {
  display: none;
  }
}

// @media screen and(max-width:400px){
//   .lg-text {
//     position: absolute;
//     top: 15%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 20px;
//     font-weight: 600;
//     color: #fff;
//   }
  
//   .image-aboutus-banner p {
//     position: absolute;
//     top: 18%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 14px;
//     // color: #000;     
//     color: #fff;
//   }
//   .bread-bar .breadcrumb {
//     display: none;
//   }
// }

