<div class="" style="background-color: #f8f1f1;">
  <section class="slider_section ">
    <div id="myCarousel" class="carousel slide banner-main " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="third-slide image-aboutus-banner" src="./assets/contact1.webp" style="height: auto;width: 100%;"
            alt="Third slide">
          <div class="container">
            <div class="carousel-caption relative">
              <div class="row">
                <div class="col-7"></div>
                <div class="col-3">
                </div>
                <div class="col-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <h1 class="section-header mt-4" style="padding-top: 40px;"></h1>
    <div class="contact-wrapper mb-5">
      <form id="contact-form" action="https://formsubmit.co/infomalavikamohanan@gmail.com" method="POST"
        class="form-horizontal mb-5" role="form">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" style="color: black;" placeholder="NAME" name="name"
              value="" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" style="color: black;" placeholder="EMAIL" name="email"
              value="" required>
          </div>
        </div>
        <input type="hidden" name="_next" value="https://malavikamohanan.in/thanks.html">
        <input type="hidden" name="_cc" value="sarangrajan948@gmail.com">
        <input type="hidden" name="_template" value="table">
        <input type="hidden" name="_captcha" value="false">
        <textarea class="form-control" rows="10" style="color: black;" placeholder="MESSAGE" name="message"
          required></textarea>
        <div class="row">
          <div class="class col lg-4"></div>
          <div class="class col lg-4">
            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
              <div class="button">
                <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
              </div>
            </button>
          </div>
          <div class="class col lg-4"></div>
        </div>
      </form>
      <div class="direct-contact-container">
        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span
                class="contact-text place">Mumbai,maharastra</span></i></li>
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                  href="tel:1-212-555-5555" title="Give me a call">(000) 555-000</a></span></i></li>
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#"
                  title="Send me an email">infomalavika@gmail.com</a></span></i></li>
        </ul>
        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-codepen" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>
        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
      </div>
    </div>
  </section>
</div>
