<div class="" style="background-color: #f8f1f1;">
  <section class="slider_section ">
    <div id="myCarousel" class="carousel slide banner-main " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="third-slide image-aboutus-banner" src="./assets/gallery01.webp" style="height: auto;width: 100%;"
            alt="Third slide">
          <div class="container">
            <div class="carousel-caption relative">
              <div class="row">
                <div class="col-7"></div>
                <div class="col-3">
                </div>
                <div class="col-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="image-aboutus-banner img-fluid responsive">
    <div class="bread-bar">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-8">
          <ol class="breadcrumb pl-2">
            <li><a href="/home">Home</a></li>
            <li class="active">Gallery</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class=" port-page m-5" style="padding-top: 30px;margin-left:8px;">
    <div class="wrapper">
      <div class="container" (click)="albumone()">
        <img src="/assets/3.webp" alt="Avatar" style="width:100%;height: auto;">
        <div class="text-block">
          Album
        </div>
      </div>
      <div class="container" (click)="albumtwo()">
        <img src="/assets/14.webp" alt="Avatar" style="width:100%;height: auto;">
        <div class="text-block">
          Album
        </div>
      </div>
      <div class="container">
        <img src="/assets/14.webp" alt="Avatar" style="width:100%;height: auto;">
        <div class="text-block">
          Album
        </div>
      </div>
      <div class="container">
        <img src="/assets/5.webp" alt="Avatar" style="width:100%;height: auto;">
        <div class="text-block">
          Album
        </div>
      </div>
    </div>
  </div>
</div>
