<section class="slider_section ">
  <div id="myCarousel" class="carousel slide banner-main " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="third-slide image-aboutus-banner" src="./assets/career01.webp" style="height: auto;width: 100%;"
          alt="Carrer">
        <div class="container">
          <div class="carousel-caption relative">
            <div class="row">
              <div class="col-7"></div>
              <div class="col-3">
              </div>
              <div class="col-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about " class="mt-5">
  <div class="container mt-5">
    <header class="section-header mt-4">
    </header>
    <div class="mt-5">
      <div class="col-lg-12">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/pattampole.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Pattam Pole</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <p class="mt-2">
                Malavika Mohanan started her acting career in 2013 with Malayalam film <b>"Pattam Pole" </b>
                Pattam Pole (English: Like a Kite) is a 2013 Malayalam romantic film directed by cinematographer
                Alagappan N, who makes his directorial debut. The film tracks the relationship between a Brahmin youth,
                Karthik (Dulquer Salmaan) and a Christian girl Riya (Malavika Mohanan). Archana Kavi, Anoop Menon, Lalu
                Alex, Jayaprakash, Seetha, Leema Babu, Shraddha Gokul, Nandhu and Ilavarasu play supporting roles.
                Karthi- a Tamil Hindu Brahmin boy (Dulquer Salmaan) and Riya- a Christian girl (Malavika Mohanan) elope
                one early morning to Ooty, fearing that the elders in the family will not accept their inter-religious
                relationship and a relationship of different castes. They return to their respective homes after a
                couple of days after having a fight. They convince their family members that they hate each other and
                vow never to see each other again. But their fathers plan to reunite them thinking that they have broken
                due to immaturedness and ego problems. Riya's father is a friend of Karthi's father.
                Riya's family [without Riya] visit Karthi's home and invite them to Riya's marriage.
                Meanwhile, both Riya and Karthi join in the same company to work. Due to losses in the company caused by
                Riya, she is expelled from her job. Soon after Karthi meet Riya and they express love for each other and
                decide to elope in a houseboat. However they are caught by their fathers .Karthi's father hands them a
                marriage invitation which reads " RIYA and KARTHIK". The movie ends as they both thank and hug their
                fathers. The film ends as they walk through their home happily.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/niru.webp" style="width: 97%; height: 67%;border-radius: 5%;" class="img-fluid">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Nirnayakam</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <p>
                Nirnaayakam is a 2015 Indian Malayalam-language drama film written by Bobby–Sanjay and directed by V. K.
                Prakash.
                The film features Asif Ali and Prem Prakash in Lead roles and Nedumudi Venu, Malavika Mohanan and Tisca
                Chopra in supporting roles. It was produced jointly by
                Jose Simon and Rajesh George Under the banner Jairaj Films. The film was released on 5 June 2015.
                Ajay (Asif Ali) is a student at National Defense Academy, Pune. Once he visited Kochi upon request from
                his ailing father, a leading advocate. There, he gradually gets involved with a case. Ajay starts taking
                steps to help his father win the case involving a death, alleged to have taken place due to a government
                party's negligence.
                The film highlights the need for the government to change their attitude concerning human rights.</p>
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/nmv.webp" style="width: 97%; height: 67%;border-radius: 5%;" class="img-fluid">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Naanu Mattu Varalakshmi</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">

              <p>
                Naanu Mattu Varalakshmi (Me and Varalakshmi) is a 2016 Indian Kannada-language action film written and
                directed by Preetham Gubbi and produced by Jayanna-Bhogendra.It stars Prithvi, the grandson of musician
                G. K. Venkatesh in his debut, and Malavika Mohanan in her Kannada debut.Prakash Raj, Madhoo, Charandeep
                and Rangayana Raghu play supporting roles.
                The music is composed by V. Harikrishna. The film was released on 16 December 2016.
                After the debacle of Boxer in 2015, director-writer [[Preetham teamed up yet again with the producers
                Jayanna-Bhogendra duo and took motocross racing as the theme for his next directorial venture. For this
                film, he roped in six national champions, including a couple of them with international acclaim. He also
                hired Vijaykumar, a professional motocross racer of many international awards, as a team coach to help
                with the proceedings. For the lead roles, he selected the fresh faces Prithvi and Malayalam actress
                Malavika Mohanan. Prithvi, the grandson of music director G. K. Venkatesh, is an engineering graduate
                and is trained in acting, stunts and dancing. Charandeep was chosen to play the antagonist as another
                race who is an opponent to Prithvi.
                Prakash Raj was hired to play the trainer role and father of Charandeep
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/byn.webp" style="width: 97%; height: 67%;border-radius: 5%;" class="img-fluid">

                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Beyond the Clouds</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <p class="mt-2">
                Beyond the Clouds is a 2017 Indian drama film written and directed by Majid Majidi, under the production
                banner Zee Studios.
                It stars debutante Ishaan Khatter as Amir, a street hustler and drug dealer in the city of Mumbai and
                Malavika Mohanan as Tara, is the sister of Amir. She works for a dour merchant Akshi (Gautam Ghose). The
                film story is centred around bonding between the siblings, a take on human relationships in general. The
                sibling's bond is put to test when Tara lands in jail for a crime committed by Amir which forms the crux
                of the film. The film is a grown-up version of Majidi's previously directed Children of Heaven (1997).
                The casting for the project began in August 2016, with principal photography commencing from January
                2017 in Mumbai,
                continued in Sambhar near Jaipur and concluded in Mumbai on 6 May 2017. Prior to theatrical release, the
                film premiered at International Film Festivals between October 2017 to February 2018. It was screened at
                International Film Festival of India on 20 November 2017. Beyond the Clouds is the second collaboration
                between Majid Majidi and film score composer A. R. Rahman, after Muhammad: The Messenger of God (2015).

                The film released in India on 20 April 2018 to generally positive reviews. The film was praised for the
                performances of the lead characters and cinematography, but criticized for the direction, film score and
                a predictable story-line.The film begins with Aamir (Ishaan Khatter), a young man who lives under a road
                bridge where numerous impoverished families live, grabbing a bike and carrying out a series of drug
                deliveries all over the city.

                A police bust interrupts Aamir, who is chased into the laundry workplace of Aamir’s sister Taara
                (Malavika Mohanan). With the help of an older male colleague Akshi (Goutam Ghose), Taara conceals her
                brother and his stash of drugs. But in Akshi’s mind, his help means that Taara is now somehow beholden
                to him. He assaults her, but Taara defends herself by hitting his head with a rock.

                Taara finds herself facing life in prison, unless Akshi recovers and can be persuaded to admit his role
                in the incident. But although he regains consciousness, Akshi is unable to talk. Both Taara and Aamir
                find hope in their desperate situation through connections with other children. Taara befriends Chotu,
                the child of an ailing prisoner, while Aamir initially considers selling Akshi's eldest daughter to a
                local brothel. But Aamir grudgingly warms to Akshi’s mother and two daughters
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/greatfather.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>The Great Father</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <p class="mt-2">
                The Great Father is a 2017 Indian Malayalam-language thriller film directed by Haneef Adeni and produced
                by
                Prithviraj Sukumaran, Arya, Santhosh Sivan, and Shaji Nadesan under the banner of August Cinema.
                It stars Mammootty in the lead role as David Nainan. Arya, Sneha, Anikha and Malavika Mohanan played
                the supporting roles. The original release date of 25 December 2016 was postponed to 30 March 2017.
                A dubbed version in Hindi, entitled Dashing Jiggarwala, was also released.
                Samuel (Shaam) is a police officer investigating the crimes of serial child abuse and
                murder. He receives a phone call from a child abuser who calls himself "Joker". Samuel tracks his
                location, goes to his place, and is killed by the Joker.

                The cases are picked up by Officer Andrews Eappan (Arya), from the Crime Investigation Department
                (CBCID). The story then shifts to Sarah David (Anikha), a 10-year-old girl whose hero is her father
                David Nainan (Mammootty), a well known builder.

                One day when he returns home from his office, he finds Sarah lying unconscious after being brutally
                raped. Shattered, he takes her to the hospital where his wife, Dr. Michelle David (Sneha), works. After
                recovering, Sarah reveals that it was Joker who attacked her. An enraged David and Michelle decide to
                find
                and kill him to protect other girls.

                Nainan starts his own investigation independent of the police, causing Eapen to become suspicious.
                He discovers that Nainan's daughter was one of the Joker's victims, and aggressively questions her at
                home while he is away. Nainan warns Eapan off for upsetting his daughter. Both of them start receiving
                calls from the Joker, and compete as to who will find and get to the Joker first. The Joker attacks
                Eapan and Nainan who manages to overpower and kill him.

                After, when Eapan asks Nainan who the Joker was, Nainan tells him that it was James, who was
                working in his office. Eapan admits to having wanted to kill Joker too.
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">

            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/pettaofficial.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid">
                <img src="./assets/petta1.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid mt-5">
                <img src="./assets/petta2.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid mt-5">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Petta</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">

              <p>
                Petta (transl. Hood) is a 2019 Indian Tamil-language action drama film written and directed by
                Karthik Subbaraj. The film was produced by Kalanithi Maran under the banner Sun Pictures. The film stars
                Rajinikanth, with Vijay Sethupathi, Simran, Trisha, Sasikumar, Nawazuddin Siddiqui, Bobby Simha,
                Sananth,
                Megha Akash, and Malavika Mohanan in supporting roles. The music was composed by Anirudh Ravichander
                with
                editing done by Vivek Harshan and cinematography by Tirru. The film was released on 10 January 2019
                along
                with dubbed versions in Hindi and Telugu.
                The film received mixed reviews from critics but was commercially successful grossing 250 crores.
                Kaali, an elderly man, takes up the job of a boys' hostel warden at a college in Ooty. He notices that
                the hostel is dominated by a group of unruly final-year students, who are led by Michael,
                the spoiled son of a local leader named Gnanam. Kaali puts a stop to Michael's antics, which leads to
                enmity between the two. Kaali also forms a close bond with a NRI hostelite named Anwar, who is in a
                relationship with Anu, the daughter of Mangalam, a pranic healer. Kaali convinces Mangalam to accept her
                daughter's relationship with Anwar, and they end up falling in love.

                Michael, who lusts for Anu, is angered on hearing of her relationship with Anwar. He attempts to harass
                them, only to be stopped by Kaali, who ensures the suspension of Michael and his friends, with Anwar
                recording and sharing the humiliation of Michael and his gang. This video is noticed far away in Uttar
                Pradesh by a local goon named Jithu, the son of a powerful politician called Singaaram alias Singaar
                Singh.
                Singaar, on seeing Anwar in the video as well as in a photo with his mother on Facebook, sends his men
                to
                Ooty to kill Anwar, for unknown reasons. At the same time, Michael, humiliated at his suspension, sends
                his
                men to beat up (but not kill) Kaali. Michael's plan backfires as he and his men are caught in the fight
                between Kaali and Singaar's men. Kaali subdues Singaar's men, earning Michael's and Gnanam's respect,
                following which Anwar learns about his past.

                Anwar is the son of Maalik, who was Kaali's best friend. It is also revealed that Kaali's real name is
                Petta Velan alias Petta and that he was a well-respected man in his village in Madurai district. Twenty
                years ago, Maalik was in love with Petta's neighbour Poongodi, who conceived with him out of wedlock.
                When Petta heard of this, he and his wife Saraswathy alias Saro managed to convince Poongodi's father
                Rajapandi to get Poongodi married to Maalik, even though Rajapandi and Petta were sworn enemies. But
                Rajapandi's two sons, Devaaram and Singaar, vehemently opposed the alliance as well as the transfer of
                property to Poongodi. They then killed their father. Petta, on hearing about Rajapandi's murder, killed
                Devaaram during Rajapandi's funeral and chased Singaar out of the village. As revenge for Devaaram's
                killing and his forced exile, Singaar orchestrates a bomb blast during Poongodi's seemantham, killing
                Maalik, Saro, and Petta and Saro's son Chinna. Petta, after finding that Poongodi was still alive, took
                her to safety. Poongodi later gave birth to a boy, who is revealed to be Anwar, and both of them left
                for Australia as refugees to escape from Singaar. On hearing this story, Petta and Anwar, along with
                Michael's henchmen, leave for Uttar Pradesh to finish off Singaar once and for all.

                In Uttar Pradesh, Petta and Anwar confront Jithu, who is determined to kill them both after learning
                that his father and Petta are enemies. The duo manage to escape Jithu. Later, Petta meets Jithu
                privately and tells him that he is none other than his son Chinna, who did not die in the bomb blast,
                but was adopted by Singaar after finding him still alive in the wreckage of the blast. When Jithu
                confronts Singaar regarding his parentage, the latter sends his men to kill Jithu, who is rescued by
                Petta. Along with Anwar and Michael's henchmen, Petta and Jithu then barge into Singaar's mansion and
                kill him and his henchmen.

                Following Singaar's death, Petta has a surprise in store for Jithu. He reveals that Jithu is not his son
                and that he really is Singaar's son. He used him to lead him to Singaar as part of a strategy to kill
                the latter. He further adds that Chinna had died in the bomb blast twenty years ago. After this shocking
                revelation, Petta points his gun at Jithu. The screen cuts to black, and a gunshot afterwards is heard.
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/masters.webp" style="width: 97%; height: 67%;border-radius: 5%;" class="img-fluid">
                <img src="./assets/master1.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid mt-5">
                <img src="./assets/master3.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid mt-5">
                <img src="./assets/master2.webp" style="width: 97%; height: 67%;border-radius: 5%;"
                  class="img-fluid mt-5">
                <div>
                  <h3 class="mt-1" style="text-align: center;"><b>Master</b></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-8">

              <p>
                Master is a 2021 Indian Tamil-language action thriller film directed by Lokesh Kanagaraj,
                who also wrote the screenplay and dialogues by Kanagaraj with Rathna Kumar and Pon Parthiban.
                The film was produced by Xavier Britto, under his maiden production house XB Film Creators, and was
                distributed by S. S. Lait Kumar of Seven Screen Studios. The film stars Vijay and Vijay Sethupathi,
                with Malavika Mohanan, Arjun Das, Andrea Jeremiah and Shanthanu Bhagyaraj in supporting roles.
                It revolves around an alcoholic professor, J. D. (Vijay), who takes a three-month teaching job in a
                juvenile home, which is controlled by the nefarious Bhavani (Sethupathi).

                Lokesh Kanagaraj narrated the script to Vijay in May 2019, and after his acceptance, the film was
                launched under in August 2019, whereas principal photography commenced in October 2019 and ended in
                February 2020. Filming took place at Delhi, Chennai and Karnataka. Originally launched under the
                tentative
                title Thalapathy 64, the official title Master was announced on 31 December 2019. The music is composed
                by
                Anirudh Ravichander, while cinematography and editing are performed by Sathyan Sooryan and Philomin Raj
                respectively.

                Master was initially planned for theatrical release on 9 April 2020, but was postponed due to the
                COVID-19
                pandemic in India. The makers preferred to wait for a theatrical release, rather than releasing it on
                any
                over-the-top media service. After being delayed for several months, the film was released in theatres on
                13 January 2021, a day before Pongal. The film received mixed reviews from critics, who appreciated
                Vijay
                and Sethupathi's performance, characterisations, score and soundtrack, but criticised for its
                screenplay,
                narration and storyline. The film was a commercial success collecting ₹263 crore–₹300 crore
                theatrically in its complete run.
                It was the first Indian film to have occupied No 1 in the global box office at the time of release
                In Nagercoil, 2003, teenager Bhavani witnesses his family get murdered by his father's rivals. He is
                forced to take the blame and is incarcerated in a juvenile detention facility, where he is tortured
                mercilessly. As a consequence, he develops a ruthless and brash persona. Years later, Bhavani escapes
                from the facility and becomes a criminal in the lorry and trade business. Gradually, he becomes a feared
                gangster, and remains immune from punishment by coercing the inmates of the detention facility to take
                the blame. Grooming an enormous empire for himself, he grows on par with his father's former rivals and
                eventually kills them.

                In Chennai, 2019, John "J.D." Durairaj, a popular college lecturer beloved by his students for his
                student-friendly approach, is struggling with alcoholism and bitter dislike from fellow staff. Only
                Charu, a newly hired lecturer at his college, sympathizes with him. After he organizes a college
                election that goes awry, he is assigned to the juvenile detention facility for a three-month assignment.
                The staff tells him that he volunteered for the job, but he does not recall doing so. He reluctantly
                assumes his new position, and is warned by the prison authorities of the rampant drug abuse and violence
                there, but J.D. pays no heed.

                The next day, J.D discovers that two young inmates, brothers Sabari and Manikandan, were murdered. He is
                interrogated by police. A grief-stricken Charu admonishes him for his reckless and negligent behaviour,
                revealing that she was the one who had signed him up for the job, believing him to be the only teacher
                capable of understanding the needs of the inmates. She reveals herself as an non-governmental
                organisation volunteer investigating the crimes occurring in the facility; the brothers had desperately
                contacted her for help. While in detention, J.D. discovers a letter written by the brothers to him,
                detailing the horrific activities taking place inside the centre. Heartbroken, he thrashes Bhavani's
                goons who had been dispatched to kill him and calls him, promising to end his reign of terror and crime.
                He redeems himself and quits his tryst with alcohol.

                Now reformed, J.D. slowly gains control over the institution and begins to reform the inmates, with the
                help of Charu and the facility's authorities. His actions are opposed by Das, an older inmate
                responsible for the illegal drugs and alcohol. With the support of a young inmate, Undiyal, J.D.
                uncovers the various crimes and gets the inmates to record confessions. J.D. discovers that Bhavani
                regularly makes the inmates take the blame for his crimes. Bhavani's goons target Charu and retrieves
                the video from her, sparing her only because of Undiyal's timely intervention.

                Undiyal reveals that selected inmates of the facility are tattooed with the Tamil letter "Pa", a symbol
                that allows them unrestricted access to free food and drugs from Bhavani's associates. J.D. targets and
                raids the respective establishments and cuts off the drug supply to the detention facility, much to
                Bhavani's frustration. He also sneaks into Bhavani's place and warns Bhavani's men to stand down,
                threatening them of dire consequences (while unknowingly holding Bhavani himself at knifepoint).

                Bhavani retaliates by killing J.D.'s associates. With J.D. distracted, Das drags most of the inmates out
                of the facility, including Undiyal, to transport them out of Tamil Nadu. J.D., with the help of his
                friend Vaanathi, who is an expert in archery, manages to subdue Das' men and rescues the children. J.D.
                then confronts Das and makes him realize that Bhavani only intends to use the latter[clarification
                needed] as a pawn for his crimes. Das reforms himself and transports J.D. to Bhavani's headquarters.
                Bhavani attempts to have J.D. and Das killed. The duo subdue Bhavani's men and fights him. He attempts
                to form a truce and escape, but J.D. overpowers and kills him. With the children safe, J.D. and Das
                surrender to the police.

                The detention facility is shut down by the government, with the inmates being sent to other detention
                facilities and state prisons, on the basis of their age. J.D. and Das are imprisoned together,
                indicating the duo's intention to reform the prison's inmates as well
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
