<div class="" style="background-color: #f8f1f1;">
  <div class="image-aboutus-banner img-fluid responsive">
    <img src="assets/about02.webp" alt="about-malu" class="responsive res">
    <div class="bread-bar">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-8">
          <ol class="breadcrumb pl-2">
            <li><a href="/home">Home</a></li>
            <li class="active">Updates</li>
          </ol>
        </div> 
      </div>
    </div>
  </div>
    <div class="row m-2">
      <div class="col-lg-12">
      </div>
      <div class="clients_red mb-5  pl-5 pr-5">
        <div class="container">
          <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
              <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
              <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
              <li data-target="#testimonial_slider" data-slide-to="3" class=""></li>
              <li data-target="#testimonial_slider" data-slide-to="4" class=""></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item ">
                <div class="testomonial_section">
                  <div class="full testimonial_cont text_align_center cross_layout">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                        <div class="testomonial_img">
                          <i><img src="./assets/MALAVIKA_02.webp"
                              style="width:100%;border:0;overflow:hidden;position: relative;" alt="#" /></i>
                        </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                        <div class="cross_inner">
                          <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                          <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest
                            photo-shoot pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in
                            a green skirt and knotted blouse, the 27-year-old diva can be seen posing on the black rocks
                            in the wilderness. Her tied-up blouse raised the oomph factor in the eye-popping attire and
                            she accessorised the look with a traditional choker and earrings. She opted for less makeup
                            and tied her tresses in a long braid.<b>"</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item active ">
                <div class="testomonial_section">
                  <div class="full center">
                  </div>
                  <div class="full testimonial_cont text_align_center cross_layout">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                        <div class="testomonial_img">
                          <i><img src="./assets/MALAVIKA_03.webp"
                              style="width:100%;border:0;overflow:hidden;position: relative;" alt="#" /></i>
                        </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                        <div class="cross_inner">
                          <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                          <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest
                            photo-shoot pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in
                            a green skirt and knotted blouse, the 27-year-old diva can be seen posing on the black rocks
                            in the wilderness. Her tied-up blouse raised the oomph factor in the eye-popping attire and
                            she accessorised the look with a traditional choker and earrings. She opted for less makeup
                            and tied her tresses in a long braid.<b>"</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="testomonial_section">
                  <div class="full center">
                  </div>
                  <div class="full testimonial_cont text_align_center cross_layout">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                        <div class="testomonial_img">
                          <i><img src="./assets/MALAVIKA_04.webp"
                              style="width:100%;border:0;overflow:hidden;position: relative;" alt="#" /></i>
                        </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                        <div class="cross_inner">
                          <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                          <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest
                            photo-shoot pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in
                            a green skirt and knotted blouse, the 27-year-old diva can be seen posing on the black rocks
                            in the wilderness. Her tied-up blouse raised the oomph factor in the eye-popping attire and
                            she accessorised the look with a traditional choker and earrings. She opted for less makeup
                            and tied her tresses in a long braid.<b>"</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="testomonial_section">
                  <div class="full center">
                  </div>
                  <div class="full testimonial_cont text_align_center cross_layout">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                        <div class="testomonial_img">
                          <i><img src="./assets/MALAVIKA_06.webp"
                              style="width:100%;border:0;overflow:hidden;position: relative;" alt="#" /></i>
                        </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                        <div class="cross_inner">
                          <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                          <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest
                            photo-shoot pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in
                            a green skirt and knotted blouse, the 27-year-old diva can be seen posing on the black rocks
                            in the wilderness. Her tied-up blouse raised the oomph factor in the eye-popping attire and
                            she accessorised the look with a traditional choker and earrings. She opted for less makeup
                            and tied her tresses in a long braid.<b>"</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item "></div>
              <div class="testomonial_section">
                <div class="full center">
                </div>
                <div class="full testimonial_cont text_align_center cross_layout">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                      <div class="testomonial_img">
                        <i><img src="./assets/MALAVIKA_05.webp"
                            style="width:100%;border:0;overflow:hidden;position: relative;" alt="#" /></i>
                      </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                      <div class="cross_inner">
                        <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                        <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                          pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                          and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the
                          wilderness. Her tied-up blouse raised the oomph factor in the eye-popping attire and she
                          accessorised the look with a traditional choker and earrings. She opted for less makeup and tied
                          her tresses in a long braid.<b>"</b> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  