/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Acme-Regular";
    src: url("assets/fonts/Acme-Regular.ttf") format("opentype");
  }
img{
    cursor: pointer;
}
.carousel-indicators li {

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #052501;
   
 }
 
.breadcrumb {
  background: none;
  margin: 0;
  font-weight: 300;
  padding-left: 0;
  font-size: 13px;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.breadcrumb>.active {
  color: rgb(255, 255, 255);
}

.breadcrumb>li+li::before {
  content: "\203A";
  color: rgb(255, 253, 253);
  padding: 0 8px;
}
