/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Acme-Regular";
    src: url("assets/fonts/Acme-Regular.ttf") format("opentype");
  }
img{
    cursor: pointer;
}
.carousel-indicators li {

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #052501;
   
 }
