<div class="" style="background-color: #f8f1f1;">
  <div class="image-aboutus-banner img-fluid responsive">
    <img src="assets/about02.webp" alt="about-malu" class="responsive res">
    <div class="bread-bar">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-8">
          <ol class="breadcrumb pl-2">
            <li><a href="/home">Home</a></li>
            <li class="active">Greeting</li>
          </ol>
        </div> 
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-8">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
  <div class="contact-form mt-5">
    <div class="header">
      <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
    </div>
  <form class="contact" action="https://formsubmit.co/infomalavikamohanan@gmail.com" method="POST">
    <input type="hidden" name="_next" value="https://malavikamohanan.in/thanks.html">
    <input type="hidden" name="_cc" value="sarangrajan948@gmail.com">
    <input type="hidden" name="_template" value="table">
    <input type="hidden" name="_captcha" value="false">
      <label for="">Full Name :</label><br>
      <input class="texti" type="text" id="name" name="name"
      value="" required>
      <label for="">E-mail :</label><br>
      <input class="texti" type="email" id="email"  name="email" value="" required>
      <label for="">Phone Number :</label><br>
      <input class="texti" type="text" name="" value="">
      <label for="">Message :</label><br>
      <textarea class="textm" name="message" ></textarea>
      <!-- <input class="btn" id="submit" type="submit" name="" type="button" value="Send" /> -->
      <button class="btn"  type="submit" name="" >Send Message</button>
  </form>
  </div>
    </div>
  <div class="col-lg-1">
  </div>
</div>
<div class="col-4 ssr" >
 <img src="./assets/sssr.png"  alt="Contact Malavika">
</div>
  </div>

    
  </div>

