<div class="container-fluid">
   

<div class="row m-2">
    <div class="col-lg-12">
        <header class="section-header">
            <h3>Our Team</h3>  
        </header>
    </div>
    <div class="col-lg-12 text-center mt-4">
        <div class="row">
            <div class="col-lg-3 mb-2">
                <div class="card">
                    <img src="/assets/images/doc.jpg" style="width:100%">
                    <h3 class="mt-2">ABHINAV SINGH</h3>
                    <p class="title">Personal Assistant</p>
                    <p><b>Mumbai,Maharastra</b> </p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="card">
                    <img src="/assets/images/Doctor6.jpg" style="width:100%">
                    <h3 class="mt-2">KARISHMA BAJAJ</h3>
                    <p class="title">Makeup Assistant</p>
                    <p><b>Mumbai,Maharastra</b></p>
                  </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="card">
                    <img src="/assets/images/doct5.jpg" style="width:100%">
                    <h3 class="mt-2">SHANKZ</h3>
                    <p class="title">Online Promoter</p>
                    <p><b>Kannur,Kozhikode</b></p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="card">
                    <img src="/assets/images/doc.jpg" style="width:100%">
                    <h3 class="mt-2">ABHINAV SINGH</h3>
                    <p class="title">Personal Assistant</p>
                    <p><b>Mumbai,Maharastra</b> </p>
                </div>
            </div>
        </div>
        
    </div>
</div>
    </div>