<section>
  <div id="myCarousel" class="carousel slide banner-main " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide sld" src="./assets/123.webp" alt="First slide">
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <header class="section-header">
      <h3>About</h3>
      <p><b>Malavika Mohanan (born 4 August 1993) is an Indian film actress, who has worked in the Malayalam and Tamil
          language films. She has also appeared in Hindi and Kannada language films.</b></p>
    </header>
    <div class="">
      <div class="col-lg-12">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-3">
              <div class="img">
                <img src="./assets/aboutmaal3.webp" alt="about1" style="width: 100%;height: auto;" class="img-fluid image">
              </div>
            </div>
            <div class="col-lg-8 mt-2">
              <p style="font-size: 17px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-8 mt-5 pt-5">
              <p style="font-size:17px">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years,
                sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact
                that a reader will be distracted by the readable content of a page when looking at its layout. The point
                of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                'Content here, content here', making it look like readable English. Many desktop publishing packages and
                web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                uncover many web sites still in their infancy. Various versions have evolved over the years,
                .</p>
            </div>
            <div class="col-lg-4 pl-5 mt-5 pt-5">
              <div class="img">
                <img src="./assets/aboutmaal1.webp" alt="about2" style="width: 100%;height: auto;" class="img-fluid image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-4 mt-5 pt-5">
              <div class="img">
                <img src="./assets/aboutmaal.webp" alt="about3" style="width: 100%;height: auto;" class="img-fluid image">
              </div>
            </div>
            <div class="col-lg-8 mt-5 pt-5">
              <p style="font-size:17px">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
                Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                injected humour, or non-characteristic words etc.
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="about-col">
          <div class="row">
            <div class="col-lg-8 mt-5 pt-5">
              <p style="font-size:17px">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years,
                sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact
                that a reader will be distracted by the readable content of a page when looking at its layout. The point
                of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                'Content here, content here', making it look like readable English. Many desktop publishing packages and
                web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                uncover many web sites still in their infancy. Various versions have evolved over the years,
                .</p>
            </div>
            <div class="col-lg-4 pl-5 mt-5 pt-5">
              <div class="img">
                <img src="./assets/aboutmaal2.webp" alt="about4" style="width: 100%;height: auto;" class="img-fluid image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="about-col">
          <!-- <div class="row">
            <div class="col-lg-4 mt-5 pt-5">
              <div class="img">
                <img src="./assets/aboutmaal4.webp" alt="about5" style="width: 100%;height: auto;" class="img-fluid image">
              </div>
            </div>
            <div class="col-lg-8 mt-5 pt-5">
              <p style="font-size:17px">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
                Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                injected humour, or non-characteristic words etc.Malavika Mohanan is an Indian actress who works
                predominantly in Malayalam and Tamil language films. The daughter of cinematographer K. U. Mohanan,
                Malavika made her acting debut with the romantic drama Pattam Pole opposite Dulquer Salmaan</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featured-services" class="mt-4" style="background-color: #000;">
  <div class="container-fluid">
    <div class="row">
      <div class="four col-md-3">
        <div class="counter-box colored"> <i class="fa fa-thumbs-o-up"></i> <span class="counter" [countUp]="50000"
            [options]="options" (complete)="update()">0</span>
          <p>Likes</p>
        </div>
      </div>
      <div class="four col-md-3">
        <div class="counter-box"><i class="fa fa-film" aria-hidden="true"></i> <span class="counter " [countUp]="6"
            [options]="options" (complete)="update()">0</span>
          <p>Movies</p>
        </div>
      </div>
      <div class="four col-md-3">
        <div class="counter-box"><i class="fa fa-language" aria-hidden="true"></i>
          <span class="counter" [countUp]="4" [options]="options" (complete)="update()">0</span>
          <p>Languages</p>
        </div>
      </div>
      <div class="four col-md-3">
        <div class="counter-box"> <i class="fa fa-trophy" aria-hidden="true"></i> <span class="counter" [countUp]="4"
            [options]="options" (complete)="update()">0</span>
          <p>Awards</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row m-2">
  <div class="col-lg-12">
    <header class="section-header mt-5">
      <h3>Movies</h3>
    </header>
  </div>
  <div class="col-lg-12 text-center mt-5">
    <div class="row">
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/pattam.webp" alt="pattam pole" style="width:100%;height: auto;">
          <h3 class="mt-2">Pattam Pole</h3>
          <p class="title">Riya</p>
          <p><b>Malayalam Movie</b> </p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/nir.webp" alt="nirnayakam" style="width:100%;height: auto;">
          <h3 class="mt-2">Nirnayakam</h3>
          <p class="title">Saral</p>
          <p><b>Malayalam Movie</b></p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/naan11.webp" alt="nmv" style="width:100%;height: auto;">
          <h3 class="mt-2">NMV</h3>
          <p class="title">Varalakshmi</p>
          <p><b>Kannada Movie</b></p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/great.webp" alt="the great father" style="width:100%;height: auto;">
          <h3 class="mt-2">The Great Father</h3>
          <p class="title">Meera</p>
          <p><b>Malayalam Movie</b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/images/beyond1.webp" alt="beyond the clouds" style="width:100%;height: auto;">
          <h3 class="mt-2">Beyond The Clouds</h3>
          <p class="title">Tara</p>
          <p><b>Hindi Movie</b> </p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/petta11.webp" alt="petta" style="width:100%;height: auto;">
          <h3 class="mt-2">petta</h3>
          <p class="title">Poongodi</p>
          <p><b>Tamil Movie</b></p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/master11.webp" alt="master" style="width:100%;height: auto;">
          <h3 class="mt-2">Master</h3>
          <p class="title">Charulatha</p>
          <p><b>Tamil Movie</b></p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/d43.webp" alt="d43" style="width:100%;height:379px;">
          <h3 class="mt-2">D43</h3>
          <p class="title">Not Revealed</p>
          <p><b>Tamil Movie</b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 mb-2">
        <div class="card">
          <img src="/assets/yudra.webp" alt="yudra" style="width:100%;height: auto;">
          <h3 class="mt-2">Yudra</h3>
          <p class="title">Not Revealed</p>
          <p><b>Hindi Movie</b> </p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card ">
          <i class="fa fa-question-circle-o mt-5" style="font-size: 237px;" aria-hidden="true"></i>
          <h3 class="mt-2">Tittle Not Revealed </h3>
          <p class="title">Not Revealed</p>
          <p><b>Web series</b> </p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card ">
          <i class="fa fa-question-circle-o mt-5" style="font-size: 237px;" aria-hidden="true"></i>
          <h3 class="mt-2">Tittle Not Revealed </h3>
          <p class="title">Not Revealed</p>
          <p><b>Hindi Movie</b> </p>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="card ">
          <i class="fa fa-question-circle-o mt-5" style="font-size: 237px;" aria-hidden="true"></i>
          <h3 class="mt-2">Tittle Not Revealed </h3>
          <p class="title">Not Revealed</p>
          <p><b>Tamil Movie</b> </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clients_red mb-5 mt-5">
  <div class="container">
    <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
        <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
        <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
        <li data-target="#testimonial_slider" data-slide-to="3" class=""></li>
        <li data-target="#testimonial_slider" data-slide-to="4" class=""></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="testomonial_section">
            <div class="full testimonial_cont text_align_center cross_layout">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                  <div class="testomonial_img">
                    <i><img src="./assets/MALAVIKA_02.webp" style="width:100%;height: auto;" class="srs" alt="#" /></i>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                  <div class="cross_inner">
                    <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                    <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                      pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                      and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the wilderness.
                      Her tied-up blouse raised the oomph factor in the eye-popping attire and she accessorised the look
                      with a traditional choker and earrings. She opted for less makeup and tied her tresses in a long
                      braid.<b>"</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item active ">
          <div class="testomonial_section">
            <div class="full center">
            </div>
            <div class="full testimonial_cont text_align_center cross_layout">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                  <div class="testomonial_img">
                    <i><img src="./assets/MALAVIKA_03.webp" class="srs" style="width:100%;height: auto;" alt="#" /></i>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                  <div class="cross_inner">
                    <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                    <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                      pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                      and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the wilderness.
                      Her tied-up blouse raised the oomph factor in the eye-popping attire and she accessorised the look
                      with a traditional choker and earrings. She opted for less makeup and tied her tresses in a long
                      braid.<b>"</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="testomonial_section">
            <div class="full center">
            </div>
            <div class="full testimonial_cont text_align_center cross_layout">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                  <div class="testomonial_img">
                    <i><img src="./assets/MALAVIKA_04.webp" class="srs" style="width:100%;height: auto;" alt="#" /></i>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                  <div class="cross_inner">
                    <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                    <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                      pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                      and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the wilderness.
                      Her tied-up blouse raised the oomph factor in the eye-popping attire and she accessorised the look
                      with a traditional choker and earrings. She opted for less makeup and tied her tresses in a long
                      braid.<b>"</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="testomonial_section">
            <div class="full center">
            </div>
            <div class="full testimonial_cont text_align_center cross_layout">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                  <div class="testomonial_img">
                    <i><img src="./assets/MALAVIKA_06.webp" style="width:100%;height: auto;" class="srs" alt="#" /></i>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                  <div class="cross_inner">
                    <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                    <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                      pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                      and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the wilderness.
                      Her tied-up blouse raised the oomph factor in the eye-popping attire and she accessorised the look
                      with a traditional choker and earrings. She opted for less makeup and tied her tresses in a long
                      braid.<b>"</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testomonial_section">
            <div class="full center">
            </div>
            <div class="full testimonial_cont text_align_center cross_layout">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                  <div class="testomonial_img">
                    <i><img src="./assets/MALAVIKA_05.webp" class="srs" style="width:100%;height: auto;" alt="#" /></i>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                  <div class="cross_inner">
                    <h3>Latest News<br><strong class="ornage_color">Malavika</strong></h3>
                    <p><b>"</b>Master actress Malavika Mohanan took the internet by storm with her latest photo-shoot
                      pictures shot at the exotic locales of Karjat. Flaunting her voluptuous figure in a green skirt
                      and knotted blouse, the 27-year-old diva can be seen posing on the black rocks in the wilderness.
                      Her tied-up blouse raised the oomph factor in the eye-popping attire and she accessorised the look
                      with a traditional choker and earrings. She opted for less makeup and tied her tresses in a long
                      braid.<b>"</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-2">
  <div class="col-lg-12">
    <header class="section-header mt-2">
      <h3>SOCIAL MEDIA UPDATES</h3>
    </header>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6 mb-2">
        <div class="card">
          <div class="fb-page" data-href="https://www.facebook.com/mohananmalavika" data-tabs="timeline" data-width=""
            data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/mohananmalavika" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/mohananmalavika">Malavika Mohanan</a></blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-2">
        <div class="card ">
          <a class="twitter-timeline" data-width="600" data-height="500" data-theme="light"
            href="https://twitter.com/MalavikaM_?ref_src=twsrc%5Etfw">Tweets by MalavikaM_</a>
          <script defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LightWidget WIDGET -->
<script defer src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
  src="//lightwidget.com/widgets/ce5920495055518e8f34833d9b16f889.html" title="insta" scrolling="no"
  allowtransparency="true" class="lightwidget-widget" title="insta"
  style="width:100%;border:0;overflow:hidden;"></iframe>
